body {
    background-color: #222;
    font-family: Arial, sans-serif;
  }
  .flash_div{
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }
  .container {
    max-width: 450px;
    margin: 50px auto;
    padding: 30px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .form-group label {
    display: block;
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
  }
  
  .form-group input[type="number"] {
    width: 350px;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color:#fff;
    border-color: aqua;
    color:#222;
    text-align: center;
  }
  
  .form-group1 button[type="submit"] {
    margin-left: 28%;
    width: 150px;
    padding: 14px;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color:#333;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  .form-group1 button[type="submit"]:hover {
    background-color:darkcyan;
    color:#fff;
  }
  
  .form-group2 button[type="submit"] {
    margin-left: 28%;
    margin-top: 20px;
    width: 150px;
    padding: 14px;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color:#333;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  .form-group2 button[type="submit"]:hover {
    background-color: darkgreen;
    color:#fff;
  }
  
  .form-group3 button[type="submit"] {
    margin-left: 28%;
    margin-top: 20px;
    width: 150px;
    padding: 14px;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    color:#333;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  .form-group3 button[type="submit"]:hover {
    background-color:darkred;
    color:#fff;
  }
  #forgotPasswordLink{
      color: aqua;
  }
  #p_forgotpassword{
      color: #fff;
      padding-left: 75px;
      padding-top: 20px;
  }