
body {
  background-color: #222;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 450px;
  margin: 150px auto;
  padding: 30px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-size: 24px;
}
.form-group {
  width: 100%;
  margin-bottom: 30px;
}

label {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

select, input[type="text"], input[type="email"] {
  width: 350px;
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color:#fff;
  border-color: aqua;
  color:#222;
  transition: border-color 0.3s ease;
  border-radius: 10px;

}

select:focus, input[type="text"]:focus, input[type="email"]:focus {
  outline: none;
  border-color: greenyellow ;
}
.forgotdiv-message{
  width: 50%;
  margin-top: 50px;
  text-align: center;
  margin-left: 25%;
}
.form-group button[type="submit"] {
  display: block;
  width: 150px;
  padding: 10px;
  margin-left: 100px;
  border: none;
  border-radius: 5px;
  background-color: #4c9aff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;

}

.form-group button[type="submit"]:hover {
  background-color: #4287e4;
}


.form-group p {
  text-align: center;
  margin-top: 20px;
}
#p_back_to_login{
    color: #fff;
    padding-left: 75px;
    padding-top: 20px;
}