.container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

  .dark-mode .left-div,
  .dark-mode .right-div {
  background-color: dimgrey;
  }

  .dark-mode .submit-button{
    background-color: orangered;
  }

  .dark-mode .navbar{
    background-color: lightseagreen;
  }

  .dark-mode .notes-title,
  .dark-mode .add-notes,
  .dark-mode .navbar-title{
    color: mintcream;
  }
  .dark-mode .theme-mode{
    background-color:  mintcream;
    color: orangered;
  }
  /* CSS styles for the left and right divs */
  .left-div {
    flex: 1;
    background-color:cadetblue;
    overflow-y: scroll;
    padding: 20px;
  }

  .right-div {
    flex: 1;
    background-color:cadetblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  /* CSS styles for the notes list */
  .notes-list {
    list-style: none;
    padding: 0;
  }

  .note-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 5px;
  }

  /* CSS styles for the form */
  .note-form {
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
  }

  .note-input {
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 95%; /* Adjust the width here */
    height: 150px;
  }

  .submit-button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 220px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:dimgrey;
    padding: 10px;
  }

  .navbar-title {
    font-size: 50px;
    font-weight: bold;
    color: orange;
  }

  .navbar-buttons {
    display: flex;
    border-radius: 4px;   
    width: 100px;
  }

  .navbar-buttons button {
    margin-left: 10px;
  }
  .theme-mode{
    border-radius: 4px;
    width: 100px;
    padding: 10px;
    background-color: orangered;
    color: aqua;
  }
  .verify-email{
    border-radius: 4px;
    width: 100px;
    padding: 10px;
    color: white;
  }
