body {
  background-color: #222;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 450px;
  margin: 50px auto;
  padding: 30px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.login-sign-message{
  width: 60%;
  margin-left: 20%;
  margin-top: 50px;
  text-align: center;
}
h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-size: 24px;
}

.form-group {
  width: 100%;
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="number"],
.form-group input[type="email"] {
  width: 350px;
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color:#fff;
  border-color: aqua;
  color:#222;
  border-radius: 10px;
}

.form-group1 button[type="submit"] {
  margin-left: 28%;
  width: 150px;
  padding: 14px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  color:#333;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
.form-group1 button[type="submit"]:hover {
  background-color:darkcyan;
  color:#fff;
}

.form-group2 button[type="button"] {
  margin-left: 28%;
  margin-top: 20px;
  width: 150px;
  padding: 14px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  color:#333;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;

}
.form-group2 button[type="button"]:hover {
  background-color:darkcyan;
  color:#fff;
}

#forgotPasswordLink{
    color: aqua;
}
#p_forgotpassword{
    color: #fff;
    padding-left: 75px;
    padding-top: 20px;
}