*{
    margin: 0;
    padding: 0;
    font-family: 'Righteous';
    box-sizing: border-box;
}
body{
    background: #eceaff;
}
.maincontainer{
    width: 100%;
    /* height: 100%; */
}

.navbar{
    width: 100%;
    height: 10vh;
    background: #eceaff;
    display: flex;
}
.theme-button{
    width: 70px;
    margin-left: 25px;

}
.theme-btn{
    width: 70px;
    height: 30px;
    border-radius: 50px;
    background-color: #6e6c6c;
}
.right_navbar{
    background: #1a1a1a;
    width: 60%;
    height: 100%;

    
    
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;

}
.right_navbar ul{
    text-align: center;
}
.right_navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
}
.right_navbar ul li a{
    color: #fff;
    text-decoration: none;
    

}
.sub-menu-wrap{
    position: absolute;
    z-index: 0;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;

}
.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}
.user-info h2{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 20%;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}
.user_pic{
    width: 45px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 50px;
    color: red;
}
.ulitems{
    padding-left: 100px;
}
.email-verify{
    width: 180px;
    font-size: 20PX;
    margin-left: 50px;
}
.left_navbar{
    width: 40%;
    height: 100%;
    background: #1a1a1a;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 25px; 
    color: whitesmoke;
}
/* 
rgb(44, 49, 43)

*/
.right_container .flashdiv{
    width: 60%;
    margin-top: 20px;
    margin-left: 20%;
    text-align: center;
}
.right_container{
    width: 60%;
    float: right;
    height: 90vh;
    background-color: rgb(44, 49, 43);
}
.line{
    position: relative;
    z-index: -1;
    border: 0;
    border-radius: 50px;
    height: 4px;
    width:  100%;
    background: #1a1a1a;
    top: 45vh;

}
.left_line{
    height: 5px;
    width:  100%;
    background-color: #1a1a1a;
    margin-bottom: 20px;
}
.left_container{
    width: 40%;
    float: left;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    background-color: rgb(44, 49, 43);


}
.left_container::-webkit-scrollbar {
    width: 3px;
    height: 100%;
    background-color: #fff;
    border-radius: 50px;
  }
.date{
    margin: 50px 0 30px 0;
    width: 100%;
    display: flex;
}
.start_date{
    margin-left: 20%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.end_date{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    color: white;

}
.start_date_input,
.end_date_input{
    text-align: center;
    border-radius: 8px;
    background-color:rgb(62, 70, 58);
    font-size: large;
    border:2px solid #fff;
    color: white;

}
.search_btn{
    width: 85px;
    height: 35px;
    font-size: large;
    border-radius: 7px;
    border:1px solid lightgreen;
    background-color: rgb(62, 70, 58);
    color: white;

}
.search{
    margin-bottom: 30px;
    
}
.search button[type="submit"]:hover{
    background-color: rgb(35, 41, 33);
    border:2px solid green;

}

.note{
    width: 80%;
    padding: 20px 7px;
    text-align: center;
    background-color: rgb(62, 70, 58);
    border-radius: 10px;
    border:2px solid #fff;
    margin: 15px 0;
    color: white;

    /* box-shadow: ; */
}

.text_field{
    width: 84%;
    height: 30vh;
    margin-left: 8%;
    padding-top: 50vh;
}

.title_input{
    width: 39%;
    height: 4vh;
    font-size: large;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 7px;
    border:2px solid #fff;
    background-color:rgb(62, 70, 58);
    color: white;
    margin-left: 10%;

}
.add_note_btn{
    width: 20%;
    float: right;
    margin-right: 10%;
    height: 4vh;

}
.add_note{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size:  large;
    border:1px solid lightgreen;
    background-color: rgb(62, 70, 58);
    color: white;
}

.add_note_btn button[type="submit"]:hover{
    background-color: rgb(35, 41, 33);
    border:2px solid green;

}
.text_input{
    width: 80%;
    height: 20vh;
    margin-left: 10%;
    border:2px solid #fff;
    background-color:rgb(62, 70, 58);
    border-radius: 7px;
    font-size: large;
    padding: 10px;
    color: white;
}