body{
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
}
.white_mode .left_container,
.white_mode .right_container{
    background-color:whitesmoke;
    border:10px solid black;
}
.white_mode .NavBar{
    background-color:gray;
    border-bottom: 1px solid black;
}
.white_mode .Notepad-Content{
    background-color: whitesmoke;
}
.white_mode .Title,
.white_mode .Nav-Link{
    color: black;
}
.Height-Control{
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.NavBar{
    padding: 10px 80px 0px 30px;
    height: 100px;
    background-color: #0A090A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.Title{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 32px;
    color: white;
    margin: auto 0;
}

.NavBar-Links{
    display: flex;
    align-items: center;
}

.NavBar-Links h4{
    font-family: poppins;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.NavBar-Links i{
    font-size: 16px;
}

.Profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Profile img{
    /* object-fit: cover; */
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 8px;
}

.Profile h5{
    color: white;
    font-family: poppins;
    font-size: 16px;
    font-weight: 600;
}

.Dark-Mode-Toggle{
    display: flex;
    border: 1px solid white;
    border-radius: 50px;
    padding: 2px;
    padding-right: 3px;
    align-items: center;
}

.Dark-Mode-Toggle .Sun{
    margin-right: 28px;
    margin-left: 4px;
    font-size: 18px;
}

.Moon-Icon-Div{
    background-color: white;
    border-radius: 100px;
}

.Moon-Icon-Div .Moon{
    font-size: 18px;
    padding: 4px 6px;
}

.Email-Verify{
    color: #48CAE4;
    font-family: poppins;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}

.Nav-Link{
    margin-right: 56px;
    margin-bottom: 0;
}

.Notepad-Content{
    background-color: #0A090A;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
}
.left_container {
    position: relative;

    height: 87%;
    width: 36%;
    background-color: #0A090A;
    /* background-color: gray; */
    overflow-y: scroll;
    float: left;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 30px;
}
.left_container::-webkit-scrollbar {
    width: 1px;
    background-color: #0A090A;
    border-radius: 50px;
  }
.right_container {
    position: relative;
    flex: 1;
    height: 87%;
    width: 60%;
    background-color: #29335C;
    float: right;
    padding: 10px;
    margin-top: 40px;
    margin-right: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.bottom_container{
    width: 100%;
    height: 300px;
    background-color: darkolivegreen;
}

.Note-One{
    width: 90%;
    height: 156px;
    background-color: darkcyan;
    border-radius: 30px;
    margin: 30px 5%;
}

.Date-Picker-Div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 5%;
    /* border-radius: 30px; */
}

.Date-Picker-Div select{
    width: 48%;
    font-size: 14px;
    background-color: #29335C;
    border: 1px solid white;
    color: white;
    border-radius: 30px;
}

#note_input{
    position: relative;
    background-color:darkcyan;
    width: 90%;
    border-radius: 30px;
    margin:10px 5% 10px 5%;
    padding: 15px;
    color: white;
    font-size: 20px;
}
#note_title{
    position: relative;
    background-color:darkcyan;
    width: 50%;
    border-radius: 30px;
    margin: 0px 0px 0px 5%;
    padding: 15px;
    color: white;
    font-size: 20px;
}
#note_input::placeholder,
#note_title::placeholder{
    color: white;
}

#save_note{
    width: 19%;
    height: 60px;
    border-radius: 30px;
    float: right;
    margin: 0px 5% 0px 0px;
    font-size: 20px;
}
#comming_soon{
    width: 19%;
    height: 60px;
    border-radius: 30px;
    float: right;
    margin: 0 1% 0 0;
    font-size: 20px;

}
