<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Mail Verfiy</title>
  <link rel="stylesheet" href="/static/E-mail-Verify.css">

</head>
<body>

    <div class="flash_div">

        {% with log_messages = get_flashed_messages() %}
            {% if log_messages %}
                <ul>
                    {% for text in log_messages %}
                        <h3 style="color: red;">{{ text }}</h3>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <br>
    </div>

  <div class="container">
    <h2>E-Mail Verification</h2>
    <form method="post">


      <div class="form-group">
        <label for="username">Enter the 6-digit verification code</label>
        <input class="form-input" type="number" autocomplete="off" id="verification_code" value="{{input_number_value}}" name="input_code" pattern="\d{6}"  placeholder="Enter Code">
      </div>
  
      <div class="form-group1">
        <button id="veirfy_send_button" type="submit"name="send_btn">Send Code</button>
      </div>

      <div class="form-group2">
        <button id="veirfy_submit_button" type="submit" name="verify_btn">Veirfy</button>
      </div>
      <div class="form-group3">
        <button  id="verify_back_button" type="submit"name="back_btn">Back</button>
      </div>

    </form>

  </div>

</body>
</html>
