<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/static/forgotpswrd.css">

</head>
<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <ul>
        {% for message in messages %}
            <div class="forgotdiv-message">
              <h3 style="color: red;">{{ message }}</h3>

            </div>
        {% endfor %}
      </ul>
  {% endif %}
  {% endwith %}

  <div class="container">
    <h2>Forgot Account</h2>

  <br>
    <form action="{{ url_for('forgot_password') }}" method="POST">
      <div class="form-group">
        <label for="optionSelect">Select Option:</label>
        <select id="optionSelect" name="optionSelect">
          <option value="">Select Option</option>
          <option value="phone">Phone</option>
          <option value="email">Email</option>
        </select>
      </div>
      <div class="form-group" id="phoneField" style="display: none;">
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" autocomplete="off" placeholder="Enter your phone number">
      </div>
      <div class="form-group" id="emailField" style="display: none;">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" autocomplete="off" placeholder="Enter your email">
      </div>
     
      <div class="form-group">
        <button type="submit" name="forgot_submit_btn">Submit</button>
      </div>
    
      <div class="form-group1">
        <p id="p_back_to_login" >Back to login? <a href="{{ url_for('main') }}" style="color: aqua;">Click here</a></p>
      </div>
    </form>
  </div>

  <script>
    var optionSelect = document.getElementById("optionSelect");
    var phoneField = document.getElementById("phoneField");
    var emailField = document.getElementById("emailField");

    optionSelect.addEventListener("change", function() {
      phoneField.style.display = optionSelect.value === "phone" ? "block" : "none";
      emailField.style.display = optionSelect.value === "email" ? "block" : "none";
    });
  </script>
</body>
</html>
