<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/static/style.css">
  <style>

    .hidden {
        display: none;
    }

  </style>
</head>
<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
            <div  class="login-sign-message">
                <h3 style="color: red;">{{ message }}</h3>

            </div>
      {% endfor %}
  {% endif %}
{% endwith %}


  <div class="container" id="registrationContainer">
    <h2>Registration</h2>
    <form method="post">

      <br>

      <div class="form-group">
        <label for="username">UserName</label>
        <input type="text" autocomplete="off" id="regcon_username" name="reg_container_username" value="{{reg_username}}" placeholder="Enter username" >
      </div>

      <div class="form-group">
        <label for="PhoneNumber">Phone Number</label>
        <input type="number" autocomplete="off" id="regcon_phone" name="reg_container_phone" value="{{reg_phone_number}}" placeholder="Enter Phone Number" >
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" autocomplete="off" id="regcon_email" name="reg_container_email" value="{{reg_email}}" placeholder="Enter Email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" autocomplete="off" id="regcon_password" name="reg_container_password" value="{{reg_password}}" placeholder="Enter Password">
      </div>
      
      <div class="form-group">
        <label for="re-type-password">ReType-Password</label>
        <input type="password" autocomplete="off" id="_regcon_retypePassword" name="reg_container_retypepassword" value="{{reg_retype_password}}" placeholder="ReEnter Password">
      </div>

      <div class="form-group1">
        <button type="submit" name="register_btn" > Sign up</button>
      </div>

      <div class="form-group2">
        <button type="button" id="regcon_loginButton">Login</button>
      </div>

    </form>
  </div>



  <div class="container hidden" id="loginContainer" name="logincontainer">
    <h2>Login</h2>
    <form method="post">


      {% with log_messages = get_flashed_messages() %}
      {% if log_messages %}
          <ul>
              {% for text in log_messages %}
                  <div  class="login-sign-message">
                    <h3 style="color: red;">{{ message }}</h3>

                </div>
              {% endfor %}
          </ul>
      {% endif %}
    {% endwith %}

      <div class="form-group">
        <label for="username">UserName</label>
        <input type="text" id="logincon_username" autocomplete="off" name="login_container_username" value="{{log_username}}" placeholder="Enter UserName"  >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="logincon_password" autocomplete="off" name="login_container_password" value="{{log_password}}" placeholder="Enter Password" >
      </div>

      <div class="form-group1">
        <button type="submit" name="logincon_loginbtn">Login</button>
      </div>

      <div class="form-group2">
        <button type="button" id="logincon_registerButton">Sign up</button>
      </div>

      <div class="form-group">
        <p id="p_forgotpassword">Forgot Password? <a href="{{ url_for('forgot_password') }}" id="forgotPasswordLink">Click here</a></p>
      </div>

    </form>

  </div>

    <script> 
        // Function to show the loginContainer and hide the registrationContainersa
        function showLoginContainer() {
            document.getElementById("registrationContainer").classList.add("hidden");
            document.getElementById("loginContainer").classList.remove("hidden");
            localStorage.setItem("isRegistrationHidden", "true");
            localStorage.removeItem("isLoginHidden");
        }

        // Function to show the registrationContainer and hide the loginContainer
        function showRegistrationContainer() {
            document.getElementById("loginContainer").classList.add("hidden");
            document.getElementById("registrationContainer").classList.remove("hidden");
            localStorage.setItem("isLoginHidden", "true");
            localStorage.removeItem("isRegistrationHidden");
        }

        document.getElementById("regcon_loginButton").addEventListener("click", function(e) {
            e.preventDefault();
            showLoginContainer();
        });

        document.getElementById("logincon_registerButton").addEventListener("click", function() {
            showRegistrationContainer();
        });

        // Check the visibility state from localStorage on page load
        window.addEventListener("load", function() {
            if (localStorage.getItem("isRegistrationHidden")) {
            showLoginContainer();
            } else if (localStorage.getItem("isLoginHidden")) {
            showRegistrationContainer();
            }
        });
    </script>


</body>
</html>
