<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/test2.css">
</head>
<body>
    <form method="post">

    <div class="maincontainer">
        <div class="navbar">

            <div class="left_navbar">
                <h1 style="font-size: 35px;">NotePad</h1>
            </div>
    
            <nav class="right_navbar">

                <ul class="ulitems">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

                <div class="email-verify">

                    {% if email_verify == 1 %} 
                        <a href="" style="color: lightcoral;" class="Email-Verify">E-mail is Not verifyed</a>
                    {% elif email_verify == 0%}
                        <a href="" style="color: lightgreen;" class="Email-Verify">E-mail is verifyed</a>
                    {% endif %} 

                </div>

                <div class="swith-button">

                    <label class="switch"">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                        
                </div>

                <img src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" class="user_pic" onclick="toggleMenu()">
    
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                           <div class="user-info">
                                <img src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" alt="" >
                                <h2>{{ username }}</h2>
                           </div> 
                           <hr>

                           <a href="#" class="sub-menu-link">
                            <img src="https://cdn-icons-png.flaticon.com/512/428/428553.png" alt="">

                                <p>Edit Profile</p>
                                <span></span>
                           </a>

                           <a href="#" class="sub-menu-link">
                            <img src="https://cdn-icons-png.flaticon.com/512/428/428553.png" alt="">
                            <p>Settings</p>
                            <span></span>
                           </a>

                           <a href="#" class="sub-menu-link">
                            <img src="https://cdn-icons-png.flaticon.com/512/428/428553.png" alt="">

                            <p>About</p>
                            <span></span>
                          </a>
                          <a href="/" class="sub-menu-link">
                            <img src="https://cdn-icons-png.flaticon.com/512/428/428553.png" alt="">

                            <p>Logout</p>
                            <span></span>
                         </a>
                    </div>
                </div>
            </nav>
    
        </div>

        <div class="right_container">   

                <hr class="line">

                <div class="text_field">
                        <!-- <input type="text" class="text_input"> -->

                        <textarea class="title_input" name="title_input" placeholder="Enter Title"></textarea>
                        <div class="add_note_btn">
                             <button type="submit" class="add_note">Add </button>
                        </div>

                        <textarea class="text_input" name="note_input" placeholder="Enter Note"></textarea>
                </div>
                

        </div>

        <div class="left_container">
            
            <div class="date">

                <div class="start_date">
                    <p style="text-align: center; font-size: large;">Start Date</p>
                    <input class="start_date_input" type="date">
                </div>
                
                <div class="end_date">
                    <p style="text-align: center;font-size: large;">End Date</p>
                    <input class="end_date_input" type="date">
                </div>
            </div>
            <div class="search">
                <button class="search_btn" type="submit">Search</button>


            </div>

            <div style="width: 100%;">

                <hr class="left_line">


            </div>
            
            <div class="note">
                <h3 style="text-align: center;padding-bottom:10px;">title &nbsp;20.05.2000</h3>
                <hr style="height: 3px; background-color: lightcoral;width: 100%;margin: 0 0 10px 0; ">
                <p>textttttLorem ipsum dolor sit amet consectetur adipisicing elit.  distinctio ab architecto cumque minus modi maxime asperiores expedita sit voluptatem suscipit mollitia repellendus dolore, velit, dolores, sequi non! Debitis, iusto.</p>
                <hr style="height: 3px; background-color: lightcoral;width: 100%;margin: 10px 0 5px 0; ">
            </div>

        </div>
    </div>

    <script>

    
        let subMenu = document.getElementById("subMenu");

        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }

    </script>
   
    <img src="/images/1519855918965.jpeg" alt="no img">
    <!-- <img src="https://media.licdn.com/dms/image/C560BAQHMnA03XDdf3w/company-logo_200_200/0/1519855918965?e=2147483647&v=beta&t=J3kUMZwIphc90TFKH5oOO9Sa9K59fimgJf-s_okU3zs" alt=""> -->
</form>
</body>
</html>






<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes App</title>
 
 <link rel="stylesheet" href="/static/main_board.css">
</head>
<body {% if theme == 1 %} class="dark-mode" {% endif %}>


  <form method="post">
    <div class="navbar">
      <div class="navbar-title">Hello {{ username }}</div>

      {% if email_verify == 1 %}
          <style>
            .eml_title{
              color: red;
            }
          </style>
          <h2 class="eml_title" >your email is not verifyed.</h2>

      {% elif email_verify == 0 %}
           <style>
            .eml_title{
              color: greenyellow;
             }
          </style>
          <h2 class="eml_title" >your email is verifyed.</h2>
      {% endif %}

      {% if email_verify == 1 %} 
        <button class="verify-email" style="background-color: red;" name="verify-btn">Verify Email</button>
        {% elif email_verify == 0%}
        <button class="verify-email" style="background-color: green;" name="verify-btn">Verify Email</button>
      {% endif %} 
          <button type="submit" name="logout_btn">Log Out</button>

      <div class="navbar-buttons">
        <button type="submit" class="theme-mode" name="theme-btn">Theme</button>

      </div>
    </div>

  <div class="container">
    <!-- Left Div -->
    <div class="left-div">
      <h2 class="notes-title">Notes</h2>
      <ul class="notes-list">

        {% for note in notes %}
            <li class="note-item">{{ note }}</li>
        {% endfor %}

      </ul>
    </div>
      
    <!-- Right Div -->
    <div class="right-div">
      
      <br>
      {% with log_messages = get_flashed_messages() %}
          {% if log_messages %}
              <ul>
                {% for text in log_messages %}
                    <h3 style="color: red;">{{ text }}</h3>
                  {% endfor %}
            </ul>
          {% endif %}
      {% endwith %}
      <br>

      <h2 class="add-notes">Add Note</h2>
      <form class="note-form" action="/add_note" method="post">
        <textarea class="note-input" name="note_input" placeholder="Enter your note"></textarea>
        <button class="submit-button" type="submit" name="add_button">Add Note</button>

      </form>

    </div>
  </div>
</form>

   
</body>

</html>


