<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Righteous&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/test.css">
    <script src="https://kit.fontawesome.com/e02f57a878.js" crossorigin="anonymous"></script>
    
    <title>test</title>
</head>
<body {% if theme == 0 %} class="white_mode" {% endif %}>

    <section class="Height-Control">
        <div class="NavBar">
            <h1 class="Title">Notepad</h1>
    
            <div class="NavBar-Links">
                <h4 class="Nav-Link">Menu <i class="fa-sharp fa-solid fa-chevron-down" style="color: #ffffff;"></i></h4>
    
    
                {% if email_verify == 1 %}
                    <a href="" style="color: red;font-size: 20px;margin-bottom: 30px;" name="emailverify" class="Email-Verify Nav-Link">Verify your E-mail</a>
                {% elif email_verify == 0 %}
                    <a href="" style="color: lightgreen;font-size: 20px; margin-bottom: 30px;" class="Email-Verify Nav-Link">your E-mail is verifyed</a>
                {% endif %}
    

                <div class="Dark-Mode-Toggle Nav-Link">
                    <i class="fa-solid fa-sun Sun" style="color: #ffffff;"></i>
                    <div class="Moon-Icon-Div">
                        <i class="fa-solid fa-moon Moon" style="color: #090a09;"></i>
                    </div>
                </div>

    
                <div class="Profile">
                    <img src="Images/Profile Img.jpg" alt="Profile">
                    <h4 class="user_name">{{ username }}</h4>
                </div>
            </div>
        </div>

        <div class="Notepad-Content">

            <div class="left_container">
                <div class="Date-Picker-Div">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select Start Date</option>
                    </select>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select End Date</option>
                    </select>
                </div>

                <div class="Note-One">

                </div>
         
                <div class="Note-One">

                </div>
         
                <div class="Note-One">

                </div>
         
                <div class="Note-One">

                </div>
         
              </div>
              
              <div class="right_container">


                    <div class="note_group">
                         <button type="submit" id="save_note" style="background-color: orangered;" class="btn btn-primary" >Save Note</button>
                         <button type="submit" id="comming_soon" style="background-color: green;" class="btn btn-primary" >comming soon</button>
     
                         <textarea id="note_title" rows="1" placeholder="Enter Note-Title Here"></textarea>
                         <textarea id="note_input" rows="7" placeholder="Enter Note Here"></textarea>
                    </div>
                    </form>
              </div>

     
        </div>
    </section>

        <div class="bottom_container">

        </div>

</body>
</html>






